#welcome-section {
    height: 100vh;  
  }
  
  nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin-top: -20px;
    background-color: rgba(50,50,250,0.5);
    z-index: 1;
  }
  
  nav a {
    display: block;
    float: left;
    font-family: sans-serif;
      font-size: 1.2em;
      color: white;
    background-color: #17b0cf;
      border: 1px solid #000;
      padding-top: 20px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    margin-top: 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    transform: scale(1.2);
    background-color: orange;
    transition: 1s
    }
  
  #logo {
    font-family: 'Hind', sans-serif;
    font-size: 32px;
    letter-spacing: -2px;
    text-shadow: 1px 1px 2px #c4c4c4;
    padding-left: 20px;
    padding-right: 40px;
    margin-top: -10px;
  }
  
  body {
    color: white;
    text-align: center;
    background-color: #34ADFF;
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  }
  
  #background {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background-color: #34ADFF;
    background-image: radial-gradient(circle at center, #899Dc4, #495D84);
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
    -webkit-clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
  }
  
  .container {
    padding: 1px;
    height: auto; 
    width: 80%;
    position: relative;
    box-shadow: 4px 10px 20px;
    border-radius: 40px;   
  }
  
  p {
    width: 50%;
    margin: 55px;
    padding: 30px;
  }
  
  #lorem {
    padding: 30px;
  }
  
  #aboutme {
    margin: 55px;
    padding: 30px;
  }
  
  #links {
    display: inline-block;
  }
  
  #links a{
      font-family: sans-serif;
      font-size: .8em;
      color: white;
      background-color: #17b0cf;
      border: 1px solid #000;
      padding-top: 20px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      text-decoration: none;
      box-shadow: 9px 5px 25px;
  }
  
  #links a:hover {
    font-size: 1.2em;
    background-color: orange;
    box-shadow: -7px -5px 25px #17b0cf;
    transition: font-size 1s,
                box-shadow 1s,
                background-color .5s 1s;
  }
  
  img {
    float: left;
    margin: 0px;
    width: 8%;
    border-radius: 50%;
  }
  
  @media (max-width: 800px) {
  
    .container {
      width: 100%;
      text-align: center;
      float: left;
    }
    
    #aboutme {
      margin-left: 5px;
      width: 80%;
    }
    
    #lorem {
      margin-left: 5px;
      width: 80%;
      padding: 30px;
    }
    
    p {
      float: left;
      text-align: center;
    }
  }